@page "/manager"
@using GhazaSystem.UI.Components.Dialog
@using GhazaSystem.Common.Services
@using GhazaSystem.UI.Components.Dialog.Company
@using GhazaSystem.UI.Components.Dialog.Food
@using GhazaSystem.UI.Components.Dialog.User
@using GhazaSystem.UI.Services
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject FoodServices foodServices
@inject CompanyServices companyServices
@inject UserServices userServices
@inject DailyFoodServices dailyFoodServices
@inject PersianCalendarService psc
@inject ProtectedLocalStorage LStorage
@inject NavigationManager NManager


<PageTitle>صفحه مدیریت پنل</PageTitle>

<MudRTLProvider RightToLeft = "true">

    <div style="height: 100vh; display: flex; flex-direction: column; background-color: #f5f5f5;">

        <MudPaper Elevation="1" Square="true" Class="pa-4" Style="flex-shrink: 0;">
            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.h3" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="ml-2" />
                        مدیریت پنل غذا
                    </MudText>
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mr-10">
                        تنها مدیران و مسئولین غذا به این پنل دسترسی دارند
                    </MudText>
                </MudStack>

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Refresh"
                           
                           Size="Size.Small">
                    بروزرسانی
                </MudButton>
            </MudStack>

            <MudDivider Class="m-3" />

            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                    
                    <MudStack Row="true" Spacing="2">
                    <MudText Typo="Typo.h5" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="ml-2" />
                        مدیریت اطلاعات غذا ها  در پنل غذای سازمانی
                    </MudText>
                    </MudStack>

                    <!-- دکمه‌های عملیات -->
                    <MudStack Row="true" Spacing="2">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Success"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Size="Size.Small"
                                   OnClick="OpenAddFoodDialog">
                            افزودن غذا
                        </MudButton>

                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Warning"
                                   StartIcon="@Icons.Material.Filled.Edit"
                                   Size="Size.Small"
                                   OnClick="OpenEditFoodDialog">
                            ویرایش غذا
                        </MudButton>

                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Error"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Size="Size.Small"
                                   OnClick="OpenDeleteFoodDialog">
                            حذف غذا
                        </MudButton>
                    </MudStack>
                


            </MudStack>

            <MudDivider Class="m-3"/>

            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                <!-- انتخاب ماه و سال -->
                <MudStack Row="true" Spacing="2">
                    <MudText Typo="Typo.h5" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="ml-2" />
                        مدیریت اطلاعات کاربران (پرسنل شرکت ) در پنل غذای سازمانی
                    </MudText>
                </MudStack>

                <!-- دکمه‌های عملیات -->
                <MudStack Row="true" Spacing="2">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Success"
                               StartIcon="@Icons.Material.Filled.Add"
                               Size="Size.Small"
                               OnClick="OpenAddUserDialog">
                        افزودن کاربر
                    </MudButton>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               StartIcon="@Icons.Material.Filled.Edit"
                               Size="Size.Small"
                               OnClick="OpenEditUserDialog">
                        ویرایش کاربر
                    </MudButton>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               StartIcon="@Icons.Material.Filled.Delete"
                               Size="Size.Small"
                               OnClick="OpenDeleteUserDialog">
                        حذف کاربر
                    </MudButton>
                </MudStack>



            </MudStack>

            <MudDivider Class="m-3" />

            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">

                <MudStack Row="true" Spacing="2">
                    <MudText Typo="Typo.h5" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="ml-2" />
                        مدیریت اطلاعات شرکت ها در پنل غذای سازمانی
                    </MudText>
                </MudStack>

                <!-- دکمه‌های عملیات -->
                <MudStack Row="true" Spacing="2">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Success"
                               StartIcon="@Icons.Material.Filled.Add"
                               Size="Size.Small"
                               OnClick="OpenAddCompanyDialog">
                        افزودن شرکت
                    </MudButton>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               StartIcon="@Icons.Material.Filled.Edit"
                               Size="Size.Small"
                               OnClick="OpenEditCompanyDialog">
                        ویرایش شرکت
                    </MudButton>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               StartIcon="@Icons.Material.Filled.Delete"
                               Size="Size.Small"
                               OnClick="OpenDeleteCompanyDialog">
                        حذف شرکت
                    </MudButton>
                </MudStack>



            </MudStack>

            <MudDivider Class="m-3" />

             <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center">

                <MudStack Row="true" Spacing="2">
                    <MudText Typo="Typo.h5" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="ml-2" />
                        مدیریت دسترسی کاربران و مدیران
                    </MudText>
                </MudStack>

                
                <MudStack Spacing="3" Style="width : 20%">
                    <MudSelect T="User"
                               @bind-Value="selectedUser"
                               Placeholder="انتخاب کنید"
                               Label="انتخاب کاربر برای ویرایش"
                               FullWidth 
                               Variant="Variant.Outlined"
                               Adornment="Adornment.Start"
                               AdornmentIcon="@Icons.Material.Filled.Restaurant">
                        @foreach (var user in Users)
                        {
                            <MudSelectItem Value="@user">@user.First_Name</MudSelectItem>
                        }
                    </MudSelect>

                </MudStack>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Info"
                           StartIcon="@Icons.Material.Filled.Accessibility"
                           Size="Size.Small"
                           OnClick="SetAccessUser">
                    ثبت سطح دسترسی کاربر
                </MudButton>

                
            </MudStack>
            <div id="another_unique_identifier" class="ma-0" style="height:50%;overflow: auto;">
                <MudPaper Width="100%" Elevation="0" Class="d-flex flex-column justify-space-between py-6">
                
                <MudList  T="int" @bind-SelectedValues="testlist" SelectionMode="SelectionMode.MultiSelection" ReadOnly="false" CheckBoxColor="Color.Tertiary">
                    <MudListSubheader>
                        انتخاب سطح دسترسی
                    </MudListSubheader>

                    <MudListItem Text="کاربر عادی" Value= "45" />
                    <MudListItem Text="کاربر مدیریت" Value="46" />
                    <MudListItem Text="دسترسی های کاربران به صفحات">
                        <NestedList>
                                <MudListItem Text="صفحه غذای این ماه">
                                    <NestedList>
                                        <MudListItem Text="نمایش تمام غذا ها" Value="1" />
                                    </NestedList>
                                </MudListItem>
                                <MudListItem Text="صفحه مدیریت غذا">
                                    <NestedList>
                                        <MudListItem Text="قابلیت تغییر ماه" Value="2" />
                                        <MudListItem Text="افزودن غذا" Value="3" />
                                        <MudListItem Text="ویرایش غذا" Value="4" />
                                        <MudListItem Text="حذف غذا" Value="5" />
                                        <MudListItem Text="تغییر غذای روز" Value="6" />
                                        <MudListItem Text="ذخیره غذا های روز" Value="7" />
                                    </NestedList>
                                </MudListItem>
                                <MudListItem Text="صفحه انتخاب غذا">
                                    <NestedList>
                                        <MudListItem Text="قابلیت تغییر ماه" Value="8" />
                                        <MudListItem Text="تغییر غذای روز" Value="9" />
                                        <MudListItem Text="ذخیره غذا های روز" Value="10" />
                                    </NestedList>
                                </MudListItem>
                                <MudListItem Text="صفحه غذای انتخاب شده" />
                                <MudListItem Text="صفحه گزارش">
                                    <NestedList>
                                        <MudListItem Text="گزارش روزانه" Value="11" />
                                        <MudListItem Text="گزارش ماهانه" Value="12" />
                                    </NestedList>
                                </MudListItem>
                                <MudListItem Text="صفحه مدیریت پنل">
                                    <NestedList>
                                        <MudListItem Text="قابلیت تغییر سطح دسترسی" Value="13" />
                                        <MudListItem Text="افزودن غذا" Value="14" />
                                        <MudListItem Text="ویرایش غذا" Value="15" />
                                        <MudListItem Text="حذف غذا" Value="16" />
                                        <MudListItem Text="افزودن کاربر" Value="17" />
                                        <MudListItem Text="ویرایش کاربر" Value="18" />
                                        <MudListItem Text="حذف کاربر" Value="19" />
                                        <MudListItem Text="افزودن شرکت" Value="20" />
                                        <MudListItem Text="ویرایش شرکت" Value="21" />
                                        <MudListItem Text="حذف شرکت" Value="22" />
                                    </NestedList>
                                </MudListItem>
                            
                            <MudListItem Text="مدیریت پنل" Value="23" />
                        </NestedList>
                        </MudListItem>
                </MudList>

            </MudPaper>
            </div>



        </MudPaper>




    </div>




</MudRTLProvider>

@code {
    public IReadOnlyCollection<int> testlist = [];
    public Response<List<Food>> resultFoods = new Response<List<Food>>();
    public Response<List<User>> resultUsers = new Response<List<User>>();
    public Response<List<Company>> resultCompanies = new Response<List<Company>>();
    public UserAccess userAccess = new UserAccess();
    private User selectedUser = new User();
    public List<User> Users { get; set; } = new();



    protected override async Task OnInitializedAsync()
    {
        resultUsers = await userServices.GetAllAsync<User>();
        if(resultUsers.Data != null) Users = resultUsers.Data;
        selectedUser = Users.FirstOrDefault(ui => ui.National_Code != 0) ?? Users.First();
        await GetLocalUserFromStorage();
    }


    private async Task OpenAddFoodDialog()
    {


        // DialogService.ShowAsync<AddFoodDialog>("Options Dialog");
        var dialog = await DialogService.ShowAsync<AddFoodDialog>("افزودن غذای جدید");
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            Snackbar.Add("غذا با موفقیت اضافه شد", Severity.Success);
        }
    }
    private async Task OpenEditFoodDialog()
    {
        resultFoods = await foodServices.GetAllAsync();
        var parameters = new DialogParameters<EditFoodDialog>
        {
            { x => x.Foods, resultFoods.Data }
        };

        var dialog = await DialogService.ShowAsync<EditFoodDialog>("ویرایش غذا", parameters);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            Snackbar.Add("غذا با موفقیت ویرایش شد", Severity.Success);
        }
    }
    private async Task OpenDeleteFoodDialog()
    {
        resultFoods = await foodServices.GetAllAsync();
        var parameters = new DialogParameters<DeleteFoodDialog>
        {
            { x => x.Foods,  resultFoods.Data }
        };

        var dialog = await DialogService.ShowAsync<DeleteFoodDialog>("حذف غذا", parameters);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            Snackbar.Add("غذا با موفقیت حذف شد", Severity.Success);
        }
    }



    private async Task OpenAddUserDialog(MouseEventArgs args)
    {
        var dialog = await DialogService.ShowAsync<AddUserDialog>("افزودن کاربر جدید");
        var result = await dialog.Result;

    }
    private async Task OpenEditUserDialog(MouseEventArgs args)
    {
        resultUsers = await userServices.GetAllAsync<User>();
        var parameters = new DialogParameters<EditUserDialog>
        {
            { x => x.Users, resultUsers.Data }
        };

        var dialog = await DialogService.ShowAsync<EditUserDialog>("ویرایش کاربر", parameters);
        var result = await dialog.Result;
        if (result == null) Snackbar.Add("خطایی در ویرایش کاربر به وجود آمد", Severity.Warning);
        if (result!.Data != null )
        {
            Snackbar.Add("کاربر با موفقیت ویرایش شد", Severity.Success);
        }
    }
    private async Task OpenDeleteUserDialog(MouseEventArgs args)
    {
        resultUsers = await userServices.GetAllAsync<User>();
        var parameters = new DialogParameters<DeleteUserDialog>
        {
            { x => x.Users,  resultUsers.Data }
        };

        var dialog = await DialogService.ShowAsync<DeleteUserDialog>("حذف کاربر", parameters);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            Snackbar.Add("کاربر با موفقیت حذف شد", Severity.Success);
        }
    }


    private async Task OpenAddCompanyDialog(MouseEventArgs args)
    {
        var dialog = await DialogService.ShowAsync<AddCompanyDialog>("افزودن شرکت جدید");
        var result = await dialog.Result;

    }
    private async Task OpenEditCompanyDialog(MouseEventArgs args)
    {
        resultCompanies = await companyServices.GetAllAsync();
        var parameters = new DialogParameters<EditCompanyDialog>
        {
            { x => x.companies, resultCompanies.Data }
        };

        var dialog = await DialogService.ShowAsync<EditCompanyDialog>("ویرایش شرکت", parameters);
        var result = await dialog.Result;
        if (result == null) Snackbar.Add("خطایی در ویرایش شرکت به وجود آمد", Severity.Warning);
        if (result!.Data != null)
        {
            Snackbar.Add("شرکت با موفقیت ویرایش شد", Severity.Success);
        }
    }
    private async Task OpenDeleteCompanyDialog(MouseEventArgs args)
    {
        resultCompanies = await companyServices.GetAllAsync();
        var parameters = new DialogParameters<DeleteCompanyDialog>
        {
            { x => x.companies,  resultCompanies.Data }
        };

        var dialog = await DialogService.ShowAsync<DeleteCompanyDialog>("حذف شرکت", parameters);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            Snackbar.Add("شرکت با موفقیت حذف شد", Severity.Success);
        }
    }

    private async Task SetAccessUser()
    {
        try
        {
            foreach (var i in testlist)
            {
                userAccess.accessList[i] = true;
            }
            var res = await userServices.SetAccess(new UserAccess() { accessList = userAccess.accessList, userId = selectedUser.Id });
            Snackbar.Add("دسترسی با موفقیت اصلاح شد", Severity.Success);
        }
        catch(Exception ex)
        {
            Snackbar.Add("اعطای دسترسی با مشکل مواجه شد" + ex.Message , Severity.Warning);
        }

    }

    public async Task GetLocalUserFromStorage()
    {
        try
        {

            var result = await LStorage.GetAsync<User>("User");
            if (result.Success && result.Value != null)
            {
                userServices.LocalUser = result.Value;
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("مجددا باید وارد سیستم شوید", Severity.Error);
                NManager.NavigateTo("/", forceLoad: true);
            }
        }
        catch (Exception)
        { NManager.NavigateTo("/", forceLoad: true); }

    }
}
