@page "/my-foods"
@using System.Net.WebSockets
@using GhazaSystem.Common.Services
@using GhazaSystem.UI.Components.Dialog.User
@using GhazaSystem.UI.Services
@inject IDialogService DialogService
@inject UserServices LoginService
@inject DailyFoodServices dailyFoodServices
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject ProtectedLocalStorage LStorage
@inject UserServices userServices
@inject IJSRuntime JS
@inject PersianCalendarService psc
@rendermode InteractiveServer


<PageTitle>منوی ماهانه</PageTitle>


<MudRTLProvider RightToLeft="true">
    <div style="height: 100vh; display: flex; flex-direction: column; background-color: #f5f5f5;">

        <!-- هدر ثابت -->
        <MudPaper Elevation="1" Square="true" Class="pa-4" Style="flex-shrink: 0;">
            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.h5" Color="Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Class="ml-2" />
                        غذای این ماه من
                    </MudText>
                    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mr-10">
                        @psc.GetPersianMontName(mont.MonthNumber) ماه @mont.YearNumber
                    </MudText>
                </MudStack>
                <MudStack Style="display: flex;">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Refresh"
                               Size="Size.Small">
                        بروزرسانی
                    </MudButton>
                    @if (LoginService.LocalUser == null)
                    {
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Login"
                                   OnClick="GetUser"
                                   Size="Size.Small">
                            ورود
                        </MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>

        <!-- بخش اسکرول -->
        @if (LoginService.LocalUser != null)
        {
            <div style="flex: 1; overflow-y: auto; overflow-x: hidden; padding: 16px;">
                <MudStack Spacing="3">

                    <!-- ساخت بخش داینامیک بر اساس دیتا ماه های گرفته شده -->
                    @foreach (var week in mont.MontWeek!)
                    {

                        <MudPaper Elevation="2" Class="pa-3">
                            <MudText Typo="Typo.subtitle1" Class="mb-3 mr-2" Color="Color.Secondary">
                                <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" Class="ml-1" />
                                @psc.GetPersianMontName(mont.MonthNumber)  @week.FirstDay ام تا @week.LastDay ام
                            </MudText>

                            <div style="display: flex; gap: 8px;">
                                @foreach (var day in week.WeekDay!)
                                {

                                    <div style="flex: 1; min-width: 0;">
                                        @if (day == null)
                                        {

                                        }
                                        else if (day.DayName == "جمعه")
                                        {
                                            <MudCard Elevation="1" Class="mud-height-full" Style="background-color: #fafafa;">
                                                <MudCardContent Class="pa-3 d-flex flex-column align-center justify-center" Style="min-height: 150px;">
                                                    <MudStack Spacing="1" AlignItems="AlignItems.Center">
                                                        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-2" Style="width: 100%;">
                                                            <MudText Typo="Typo.subtitle2" Color="Color.Default" Style="font-weight: 600;">@day.DayName</MudText>
                                                            <MudChip T="string" T="string" Size="Size.Small" Color="Color.Default" Variant="Variant.Text">@day.DayNumber</MudChip>
                                                        </MudStack>
                                                        <MudIcon Icon="@Icons.Material.Filled.EventBusy" Size="Size.Large" Color="Color.Default" />
                                                        <MudText Typo="Typo.caption" Color="Color.Default">تعطیل</MudText>
                                                    </MudStack>
                                                </MudCardContent>
                                            </MudCard>
                                        }
                                        else
                                        {
                                            <MudCard Elevation="3" Class="mud-height-full">
                                                <MudCardContent Class="pa-3">
                                                    <MudStack Spacing="2">
                                                        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-1">
                                                            <MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="font-weight: 600;">@day.DayName</MudText>
                                                            <MudChip T="string" T="string" Size="Size.Small" Color="Color.Info" Variant="Variant.Text">@day.DayNumber </MudChip>
                                                        </MudStack>
                                                        @if (list_daily_Foods != null)
                                                        {


                                                            @foreach (var food in list_daily_Foods)
                                                            {


                                                                if (food.Date == day.GregorianDate)
                                                                {
                                                                    <MudChip T="Food" Style="width: 95%;
                                                                                                                                                             justify-content: space-between;
                                                                                                                                                            ">
                                                                        <ChildContent>@food.food!.Name</ChildContent>
                                                                        <AvatarContent>
                                                                            <MudAvatar>
                                                                                <MudImage Src=@food.food!.Photos></MudImage>
                                                                            </MudAvatar>
                                                                        </AvatarContent>

                                                                    </MudChip>
                                                                }
                                                            }

                                                        }

                                                    </MudStack>
                                                </MudCardContent>
                                            </MudCard>
                                        }
                                    </div>
                                }
                            </div>
                        </MudPaper>

                    }
                    <!--  پایان بخش داینامیک -->

                </MudStack>
            </div>

        }

    </div>
</MudRTLProvider>

@code {

    public CalendarMont mont = new CalendarMont();
    public List<Daily_Food> list_daily_Foods = new List<Daily_Food>();
    private bool _isDataLoaded = false;

    public async Task GetDailyFoods()
    {
        var response = await dailyFoodServices.GetListDailyFoodsUser(new ListUserDailyFoodsDTO()
        {
            UserId = userServices.LocalUser!.Id,
            Mount = mont.MonthNumber

        });
        list_daily_Foods = response.Data!;
        StateHasChanged();
    }



    public void GetMont()
    {
        mont = psc.AutoPersianCalendar();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender && !_isDataLoaded)
        {
            await GetLocalUserFromStorage();

            if (LoginService.LocalUser != null)
            {
                Snackbar.Add("شما از قبل وارد سیستم شده اید", Severity.Info);
                StateHasChanged();
            }

            _isDataLoaded = true;
        }
    }


    protected override void OnInitialized()
    {
        GetMont();
        base.OnInitialized();

    }
    protected override async Task OnInitializedAsync()
    {
        if (!_isDataLoaded)
        {

            await GetLocalUserFromStorage();

            if (LoginService.LocalUser != null)
            {

                StateHasChanged();
            }
            else
            {
                Snackbar.Add("برای استفاده از سیستم باید وارد شوید", Severity.Info);
            }

            _isDataLoaded = true;
        }

        await GetDailyFoods();

    }
    private async Task GetUser()
    {
        var dialog = await DialogService.ShowAsync<LoginDialog>("ورود به برنامه");
        var result = await dialog.Result;
        StateHasChanged();
        if (LoginService.LocalUser == null) Snackbar.Add("کاربری وجود ندارد ", Severity.Warning);
        else if (LoginService.LocalUser.First_Name == null) Snackbar.Add("نام کاربر خالیست", Severity.Warning);

    }


    public async Task GetLocalUserFromStorage()
    {
        try
        {

            var result = await LStorage.GetAsync<User>("User");
            if (result.Success && result.Value != null)
            {
                LoginService.LocalUser = result.Value;
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("مجددا باید وارد سیستم شوید", Severity.Error);
            }
        }
        catch (Exception)
        {



        }
    }


}